<div class="card mb-3">
  <h2 class="card-header h4">
    Budget #<%= budget.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd>
        <% if @budget.user.present? %>
          <%= link_to budget.user, budget.user %>
        <% end %>
      </dd>

      <dt>Category</dt>
      <dd><%= budget.category_id %></dd>

      <dt>Amount</dt>
      <dd><%= budget.amount %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back budget, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_budget_url(budget), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to budget, method: :delete, data: { confirm: "Do you really want to delete this budget?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(budget.updated_at) %> ago
  </div>
</div>
