<% was_validated = transaction.errors.any? %>

<%= form_with(model: transaction, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = transaction.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if user_was_invalid %>
      <% transaction.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% amount_class = "form-control" %>
    <% amount_was_invalid = transaction.errors.include?(:amount) %>

    <% if was_validated %>
      <% if amount_was_invalid %>
        <% amount_class << " is-invalid" %>
      <% else %>
        <% amount_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :amount %>
    <%= f.number_field :amount, class: amount_class, placeholder: "Enter amount" %>
    <% if amount_was_invalid %>
      <% transaction.errors.full_messages_for(:amount).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% category_class = "form-control" %>
    <% category_was_invalid = transaction.errors.include?(:category) %>

    <% if was_validated %>
      <% if category_was_invalid %>
        <% category_class << " is-invalid" %>
      <% else %>
        <% category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
    <% if category_was_invalid %>
      <% transaction.errors.full_messages_for(:category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% transaction_date_class = "form-control" %>
    <% transaction_date_was_invalid = transaction.errors.include?(:transaction_date) %>

    <% if was_validated %>
      <% if transaction_date_was_invalid %>
        <% transaction_date_class << " is-invalid" %>
      <% else %>
        <% transaction_date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :transaction_date %>
    <%= f.date_select :transaction_date, class: transaction_date_class, placeholder: "Enter transaction date" %>
    <% if transaction_date_was_invalid %>
      <% transaction.errors.full_messages_for(:transaction_date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% account_class = "form-control" %>
    <% account_was_invalid = transaction.errors.include?(:account) %>

    <% if was_validated %>
      <% if account_was_invalid %>
        <% account_class << " is-invalid" %>
      <% else %>
        <% account_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :account_id %>
    <%= f.collection_select :account_id, Account.all, :id, :to_s, {}, class: "form-control" %>
    <% if account_was_invalid %>
      <% transaction.errors.full_messages_for(:account).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% event_class = "form-control" %>
    <% event_was_invalid = transaction.errors.include?(:event) %>

    <% if was_validated %>
      <% if event_was_invalid %>
        <% event_class << " is-invalid" %>
      <% else %>
        <% event_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event %>
    <%= f.text_field :event, class: event_class, placeholder: "Enter event" %>
    <% if event_was_invalid %>
      <% transaction.errors.full_messages_for(:event).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
